<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename = 'style.css')}}?version=1">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Decide &amp; Dine</title>
<style>
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

.groupform {
    margin-left: 20px;
    font-size: 0;
}

.groupform input[type=text] {
    width: 250px;
    height: 25px;
    border: none;
    outline: none;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    vertical-align: middle;
}

.btn-list {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0px;
    background: white;
    outline: none;
    cursor: pointer;
    margin: 0px;
    vertical-align: middle;
}

 .tabcontent ol {
    width: 300px;
    padding: 0;
}

ol li {
    float:initial;
    background: #fff;
    width: 100%;
    height: 25px;
    border: none;
    line-height: 25px;
    cursor: pointer;
    position: relative;
    padding: 0 5px;
    display: block;
    margin: 5px 20px;
    box-shadow: -3px 6px 4px #222;
    transition: 0.5s linear;
}

ol li span {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    text-align: center;
    background: #e00;
}

ol li img {
    position: absolute;
    right: 35px;
    width: 25px;
    height: 25px;
    background: #28a745;
}

#GroupPage h3 {
    margin-left: 5px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>
</head>

<body>
<!-- Modal for editGroup-->
{% include 'editGroupModal.html' %}

    <div id="container">
  {% include 'header.html' with context %}
        <div class="content">
            <p>&nbsp;</p>
            <div class="search">
                <div class="floating-box" style="margin: 20px auto">
                    <ul>
                        <li><button name = "Friends" value ="friends" class="tablinks" style="background-color: white; color: black; border-right: 1px solid;" onclick="openFriends(event, 'Friends')" id="defaultOpen">Friends</button></li>
                        <li><button name = "Pending" value ="pending" class="tablinks" style="background-color: white; color: black; border-right: 1px solid;" onclick="openFriends(event, 'Pending')">Pending</button></li>
                        <li><button name = "FindFrinds" value ="findfriends" class="tablinks" style="background-color: white; color: black; border-right: 1px solid;" onclick="openFriends(event, 'FindFriends')">Search for Friends</button></li>
                        <li><button name = "Groups" value ="groups" class="tablinks" style="background-color: white; color: black" onclick="openFriends(event, 'GroupPage')">Groups Page</button></li>
                    </ul>
                    
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}
                    <div id="Friends" class="tabcontent">
                        <h1>Friends</h1>
                        <ul id='FriendList'>
                            <li>
                                <div style="background-color: #ffffff; padding: 5px; max-width:50%; min-width:710px; min-height: 110px; border-style: solid;border-radius:10px;border-color:#f67b5f;">
                                    <div id="friends-lineitem" style="max-height:110px; margin: 5px 10px; position: inherit;">
                                        {% for i in data %}
                                            <p style="color: Gray;font-size:12px;font-weight:bold;">{{i[0]}}&nbsp;{{i[1]}} - {{i[2]}} (Date Accepted: {{i[4]}})</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="Pending" class="tabcontent" style="display: block; overflow: hidden;">  
                        <h1>Pending Friend Requests</h1>
                        <ul id='PendingList'>
                            <li>
                                <div style="background-color: #ffffff; padding: 5px; max-width:50%; min-width:710px; min-height: 110px; border-style: solid;border-radius:10px;border-color:#f67b5f;">
                                    <div id="pending-lineitem" style="max-height:110px; margin: 5px 10px; position: inherit;">
                                        {% for i in pending %}
                                            <p style="color: Gray;font-size:12px;font-weight:bold;">
                                                    {{i[0]}}&nbsp;{{i[1]}} - {{i[2]}} (Date Requested: {{i[4]}})
                                                    {% if i[5] == session['id'] %}
                                                    <a href = "{{url_for('updateFriend',friends_id=i[5],Fk_user=i[6],status=1)}}" class="menubutton">Accept</a> 
                                                    <a href= "{{url_for('updateFriend',friends_id=i[5],Fk_user=i[6],status=2)}}" class="menubutton">Decline</a>
                                                    {%endif%}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <h1>Declined Friend Requests</h1>
                        <ul id='DeclinedList'>
                            <li>
                                <div style="background-color: #ffffff; padding: 5px; max-width:50%; min-width:710px; min-height: 110px; border-style: solid;border-radius:10px;border-color:#f67b5f;">
                                    <div id="declined-lineitem" style="max-height:110px; margin: 5px 10px; position: inherit;">
                                        {% for i in declined %}
                                            <p style="color: Gray;font-size:12px;font-weight:bold;">{{i[0]}}&nbsp;{{i[1]}} - {{i[2]}} (Date Declined: {{i[4]}})</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="FindFriends" class="tabcontent">
                        <h1>Friend Search</h1>
                        <form action="{{ url_for('connect') }}" method="post" style="text-align: left;padding-left:20px" autocomplete="off">
                            <label for="Friends" style="text-align: left;">
                                <i class="fas fa-envelope"></i>
                            </label>
                            <input type="friends" name="friends" placeholder="Search by Email" id="friends" required>
                            <input type="submit" name ="findFriend" value="Submit" style="margin:5px 0">
                        </form>
                    </div>
                    <div id="GroupPage" class="tabcontent">
                        <h1>Groups Page</h1>
                        <div class="row">
                            <div class="column">
                                <h3>Create Group</h3>
                                <form method = "post" class="groupform">
                                    <input type="text" name="addgoup" placeholder="Group name" id="addgroup" required>
                                    <button type="submit" name="createGroup" class="btn-list">
                                        <img src="/static/images/plussign.png" valign="center" width="25" height="25" alt="plussign"/>
                                    </button>
                                </form>
                            </div>
                            <div class="column">
                                <div id="activegroups">
                                    <h3>Active Groups</h3>
                                    <ol>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </form>
        </div>
        <!-- end .content -->
{% include 'footer.html' %}
    </div>
    <!-- end .container -->
    <script>
        const inputText = document.querySelector('#addgroup');
        const addButton = document.querySelector('.btn-list');
        const groupList = document.querySelector('#activegroups ol');

        addButton.addEventListener('click', (e)=>{
           if(inputText.value != ""){
               e.preventDefault();
               //create list element
               const myLi = document.createElement('li');
               myLi.innerHTML = inputText.value;
               groupList.appendChild(myLi);
               //create edit image
               const myEdit = document.createElement('img');
               myEdit.src="/static/images/editlogo.png";
               myEdit.onclick = ()=>{ document.getElementById('id05').style.display='block'};
               myLi.appendChild(myEdit);
               //create span
               const mySpan = document.createElement('span');
               mySpan.innerHTML = 'x';
               myLi.appendChild(mySpan);
           }
           const remove = document.querySelectorAll('span');
           for(let i = 0; i < remove.length; i++){
                remove[i].addEventListener('click', ()=>{
                    remove[i].parentElement.style.opacity = 0;
                    setTimeout(()=>{
                        remove[i].parentElement.style.display = "none";
                        remove[i].parentElement.style.remove();
                    }, 500);
                });
            }
           inputText.value = "";
        });

        function openFriends(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>

</html>
