<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' type="text/css" href='{{ url_for('static', filename = 'style.css')}}?version=1'>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Decide &amp; Dine</title>
<style>
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  
}


</style>
</head>

<body>
    <div id="container">
        <div class="header">
            <div id="nav_link"><a href="/"><img src="/static/images/nav_lines.png" width="42" height="28"
                        alt="navmenu_lines" /></a></div>
            <div id="header_logo"><a href="{{url_for('home')}}"><img src="/static/images/header_logo.png"
                        alt="Decide &amp; Dine Logo" height="30" /></a></div>
            {% if 'username' in session %}
            <div id="logout_link"><img src="/static/images/icon_useraccount.png" alt="profile-icon"
                    style="margin-right:10px" valign="top"><a
                    href="{{url_for('logout')}}"><strong>{{username}}</strong></a></div>
            {% else %}
            <div id="login_link"><a href="{{url_for('login')}}"><img src="static/images/login_hdr.png" alt="Login"
                        height="20" style="padding: 5px 20px 5px 5px" /></a></div>
            {% endif %}
        </div>
        <!-- end .header -->
        <div class="content">
            <p>&nbsp;</p>
            <div class="search">
                <div class="floating-box" style="margin: 20px auto">
                    <ul>
                        <li><button class="tablinks" onclick="openFriends(event, 'Friends')" id="defaultOpen">Friends</button></li>
                        <li><button class="tablinks" onclick="openFriends(event, 'Pending')">Pending</button></li>
                        <li><button class="tablinks" onclick="openFriends(event, 'FindFriends')">Search for Friends</button></li>
                        <li><button class="tablinks" onclick="openFriends(event, 'GroupPage')">Groups Page</button></li>
                    </ul>
                    
                    <div id="Friends" class="tabcontent">
                        <h1>Friends</h1>
                        <ul id='FriendList'>
                            <li class='friend selected'>
                                <img style="max-height:110px; margin: 5px 10px; position: inherit;" src='{{source}}' />
                                <div class='name'>
                                    Andres Perez
                                </div>
                            </li>
                            <li class='friend'>
                                <img style="max-height:110px; margin: 5px 10px; position: inherit;" src='https://i.imgur.com/0I4lkh9.jpg' />
                                <div class='name'>
                                    Leah Slaten
                                </div>
                            </li>
                            <li class='friend'>
                                <img style="max-height:110px; margin: 5px 10px; position: inherit;" src='https://i.imgur.com/s2WCwH2.jpg' />
                                <div class='name'>
                                    Mario Martinez
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div id="Pending" class="tabcontent">
                        <h1>Pending Friend Requests</h1>
                        <p>List will show here.</p>
                    </div>
                    
                    <div id="FindFriends" class="tabcontent">
                        <h1>Friend Search</h1>
                        <form action="{{ url_for('connect') }}" method="post" style="text-align: center" autocomplete="off">
                            <label for="Friends" style="text-align: center;">
                                <i class="fas fa-envelope"></i>
                            </label>
                            <input type="friends" name="friends" placeholder="Search by Email" id="friends" required>
                            <input type="submit" value="Submit" style="margin:5px 0">
                        </form>
                    </div>
                    <div id="GroupPage" class="tabcontent">
                        <h1>Groups Page</h1>
                        <p>List will show here.</p>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </form>
        </div>
        <!-- end .content -->

        <div class="footer"> <img src="/static/images/icon_facebook.png" alt="facebook" style="margin-left: 10px" />
            <img src="/static/images/icon_google+.png" alt="google plus" /> <img src="/static/images/icon_instagram.png"
                alt="instagram" /> <img src="/static/images/icon_twitter.png" alt="twitter" /> </div>
        <!-- end .footer -->
    </div>
    <!-- end .container -->
    <script>
        function openFriends(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>

</html>
