<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' type="text/css" href='{{ url_for('static', filename = 'style.css')}}?version=1'>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Decide &amp; Dine</title>
<style>
ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  
}
 .grouplist{
     float: initial;
 }

</style>
</head>

<body>
    <!-- Modal for Groups-->
    <div id="id03" class="modal">
      <form class="modal-content animate" action="{{ url_for('connect') }}" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="/static/images/Logo.png" alt="Avatar" class="avatar">
        </div>
        <div class="container1">
          <label for="username"><b>Group Name</b></label>
          <input type="text" placeholder="Enter Group Name" name="groupname" required>
          <label for="username"><b>By creating a group you acknowledge you will be given the role of group owner</b></label>
          <p> </p>
          <label>
            <input type="checkbox" checked="checked" name="owner"> I understand
          </label>
          <div class="error">{{ messsage }}</div>
          <button type="submit">Done</button>
       </div>

        <div class="container1" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>

    <div id="container">
  {% include 'header.html' with context %}
        <div class="content">
            <p>&nbsp;</p>
            <div class="search">
                <div class="floating-box" style="margin: 20px auto">
                    <ul>
                        <li><button name = "Friends" value ="friends" class="tablinks" style="background-color: white; color: black; border-right: 1px solid;" onclick="openFriends(event, 'Friends')" id="defaultOpen">Friends</button></li>
                        <li><button name = "Pending" value ="pending" class="tablinks" style="background-color: white; color: black; border-right: 1px solid;" onclick="openFriends(event, 'Pending')">Pending</button></li>
                        <li><button name = "FindFrinds" value ="findfriends" class="tablinks" style="background-color: white; color: black; border-right: 1px solid;" onclick="openFriends(event, 'FindFriends')">Search for Friends</button></li>
                        <li><button name = "Groups" value ="groups" class="tablinks" onclick="openFriends(event, 'GroupPage')">Groups Page</button></li>
                    </ul>
                    
                    <div id="Friends" class="tabcontent">
                        <h1>Friends</h1>
                        <ul id='FriendList'>
                            <li class='friend selected'>
                                <img style="max-height:110px; margin: 5px 10px; position: inherit;" src='{{source}}' />
                                <div class='name'>
                                    Andres Perez
                                </div>
                            </li>
                            <li class='friend'>
                                <img style="max-height:110px; margin: 5px 10px; position: inherit;" src='https://i.imgur.com/0I4lkh9.jpg' />
                                <div class='name'>
                                    Leah Slaten
                                </div>
                            </li>
                            <li class='friend'>
                                <img style="max-height:110px; margin: 5px 10px; position: inherit;" src='https://i.imgur.com/s2WCwH2.jpg' />
                                <div class='name'>
                                    Mario Martinez
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                    <div id="Pending" class="tabcontent">
                        <h1>Pending Friend Requests</h1>
                        <p>List will show here.</p>
                    </div>
                    
                    <div id="FindFriends" class="tabcontent">
                        <h1>Friend Search</h1>
                        <form action="{{ url_for('connect') }}" method="post" style="text-align: center" autocomplete="off">
                            <label for="Friends" style="text-align: center;">
                                <i class="fas fa-envelope"></i>
                            </label>
                            <input type="friends" name="friends" placeholder="Search by Email" id="friends" required>
                            <input type="submit" value="Submit" style="margin:5px 0">
                        </form>
                    </div>
                    <div id="GroupPage" class="tabcontent">
                        <h1>Groups Page</h1>
                        <ol id='GroupList'>
                            <li class='grouplist'>
                                <div class='usergroupname'>
                                    Test Group 1
                                    <input type="button" value="Edit" style="margin:5px 0">
                                    <input type="button" value="Delete" style="margin:5px 0">
                                </div>
                            </li>
                            <li class='grouplist'>
                                <div class='usergroupname'>
                                    Coworkers
                                    <input type="button" value="Edit" style="margin:5px 0">
                                    <input type="button" value="Delete" style="margin:5px 0">
                                </div>
                            </li>
                            <li class='grouplist'>
                                <div class='usergroupname'>
                                    Family
                                    <input type="button" value="Edit" style="margin:5px 0">
                                    <input type="button" value="Delete" style="margin:5px 0">
                                </div>
                            </li>
                        </ol>
                        <p> </p>
                        <input id="create_group" type="button" value="Create Group" style="margin:5px 0" onclick="document.getElementById('id03').style.display='block'">
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
        </form>
        </div>
        <!-- end .content -->
{% include 'footer.html' %}
    </div>
    <!-- end .container -->
    <script>
        function openFriends(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>
</body>

</html>
