<div id="id03" class="modal">
  <form class="modal-content animate" action="{{ url_for('comment') }}" method="post">
    <div class="container1">
      <h1 style="color:black;">Leave a Comment</h1>
      <p style="color:black;">Please fill in this form to comment on this establishment.</p>
      <hr>
      <label for="rating"><b>Rating:</b></label>
      <div id='rating' name="rating">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <input name="restaurantID" type="hidden" value="{{restaurantID}}">
      <input type="text" placeholder="Enter Your Comment Title" name="title" id="title" required>
      <textarea placeholder="Enter Your Comment" name="comment" id="comment" cols="100" rows="8" required></textarea>
      <div class="clearfix">
        <button type="submit" >Submit Comment</button>
        <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>
</div>