<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' type="text/css" href="{{ url_for('static', filename = 'style.css')}}?version=1"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Decide &amp; Dine</title>
    <style>
        .detail-header { color: #ffffff; font-size: medium; font-weight: bold; }
        .comment-button { border: solid 1px #f67b5f; background-color: white; color:#f67b5f; font-weight: bold; margin:0 5px; padding: 10px; }
        .containerComments {
          border: 2px solid #ccc;
          background-color: #eee;
          border-radius: 10px;
          padding: 16px;
          margin: 16px 0
        }

        .containerComments::after {
          content: "";
          clear: both;
          display: table;
        }

        .containerComments img {
          float: left;
          margin-right: 20px;
        }

        .containerComments span {
          font-size: 20px;
          margin-right: 15px;
        }

        @media (max-width: 500px) {
          .containerComments {
              text-align: center;
          }
          .containerComments img {
              margin: auto;
              float: none;
              display: block;
          }
        }

    </style>
    <style>
.alert-error {
  padding: 8px;
  background-color: red;
  color: white;
}

    </style>
</head>
<body>
<!-- Modal for Login-->
{% include 'loginModal.html' %}
<!-- Modal for Registration-->
{% include 'registrationModal.html' %}

<!-- Modal for Comment-->
{% include 'commentModal.html' with context %}
{% if commentsList != 'empty' %}{% include 'viewCommentsModal.html' with context %}{%endif%}
<div id="container">
    {% include 'header.html' with context %}
    <div class="content">
        <p>&nbsp;</p>
        <div class="detail">
            <div class="floating-box" style="margin: 10px auto;min-height:auto;">
                {% if qd%}
                <div style="float:left;">
                    <a href="{{url_for('reroll')}}" type="button" class="comment-button" style="color:#f67b5f">Re-roll</a>
                </div>
                {% else %}
                <input type="button" class="comment-button" value="<-- Back to Search Results" onclick="history.go({{history}});"
                       style="margin-left">
                {% endif %}
                {% if 'OK' not in msg %}
                <div class="msg">{{ msg }}</div> <!--for testing-->{%endif%}
                <div style="float:right">
                    {% if featured_image == '' %}
                    <img src="/static/images/noImgAvailable.png" alt="No Photo Available"
                         style="height: 250px; width: auto\9; /* ie8 */"/>
                    {% else %}
                    <img src="{{featured_image}}" alt="{{name}} Photo" style="height: 250px; width: auto\9; /* ie8 */"/>
                    {% endif %}
                </div>
                <h1>{{name}}</h1>
                {% if establishment != '' %}<p><span class="detail-header">Establishment Type(s): </span>{{establishment}}<br/>
            </p>{%else%}<p>&nbsp;</p>{%endif%}
                <p><span class="detail-header">Address:&nbsp;</span>{{address}}<br/>
                    <span class="detail-header">Phone Number(s):&nbsp;</span>{{phone_numbers}}<br/>
                    <span class="detail-header">Hours:&nbsp;</span>{% if timings != '' %}{{timings}}{%else%}Not
                    Available{%endif%}<br/>
                    <span class="detail-header">Average Rating:&nbsp;</span>{{rating_text}} {% if rating_text != "Not
                    rated" %}({{aggregate_rating}} stars){% endif %}<br/>
                    <span class="detail-header">Dining Price Range: </span>{% if price_range == 1 %}${%elif price_range
                    == 2 %}$${%elif price_range == 3 %}$$${%else%}$$$${%endif%}<br/>
                    <span class="detail-header">Average Cost for two guests (approx.):&nbsp;</span>${{average_cost_for_two}}<br/>
                    <span class="detail-header">Currency Accepted: </span>{{currency}}<br/>
                    {% if has_online_delivery == 1 %}<span class="detail-header">Accepting Online Orders: </span>{% if
                    is_delivering_now == 1 %}Yes{%else%}No{%endif%}<br/>{%endif%}
                    {% if is_table_reservation_supported == 1 %}<span class="detail-header">Currently Booking Reservations: </span>{%
                    if has_table_booking == 1 %}Yes{%else%}No{%endif%}<br/>{%endif%}
                </p>
                <hr/>
                {% if 'username' in session %}{% if favorite %}
                <div style="float:right;">
                    <form action="{{url_for('deleteFavorite')}}" method="post"><input name="restaurantID" type="hidden"
                                                                                      value="{{restaurantID}}">
                        <button type="submit" type="submit" class="comment-button"
                                style='font-size:14px;font-weight:bold;color:#f67b5f;background:white;position:inline;'>
                            Remove Favorite <i class='far fa-check-square'></i></button>
                    </form>
                </div>
                {%else%}
                <div style="float:right;">
                    <form action="{{url_for('addFavorite')}}" method="post"><input name="restaurantID" type="hidden"
                                                                                   value="{{restaurantID}}">
                        <button type="submit" class="comment-button"
                                style='font-size:14px;font-weight:bold;color:#f67b5f;background:white;position:inline;'>
                            Add Favorite <i class='far fa-plus-square'></i></button>
                    </form>
                </div>
                {%endif%}{% if commentsList != 'empty' %}
                <div style="float:right;">
                    <button class="comment-button" style="position:inline;"
                            onclick="document.getElementById('id04').style.display='block'">View {{ commentsList|length
                        }} Member Comment{% if commentsList|length >1 %}s{%endif%}
                    </button>
                </div>
                {%endif%}
                 <div style="float:right;">
                    <button class="comment-button" onclick="document.getElementById('id03').style.display='block'">Leave A
                    Comment
                    </button>
                </div>
            {%endif%}
            <h2>Additional Information</h2>
            <p>
                <span class="detail-header">Cuisine Types:&nbsp;</span>{{cuisines}}<br/>
                <span class="detail-header">Menu:&nbsp;</span><a href="{{menu_url}}" target="_blank">View Menu</a><br/>
                <span class="detail-header">Highlights:&nbsp;</span>{{highlights}}<br/><br/>
                <span class="detail-header">Location:&nbsp;</span>{{city}} ({{locality_verbose}})<br/>
                <br/>
                <strong>(Click Map to get Directions)</strong><br/>
                <a href="https://www.google.com/maps/place/{{address.replace(' ', '+')}}/@{{latitude}},{{longitude}}"
                   target="_blank"><img width="600" height="300"
                                        src="https://maps.geoapify.com/v1/staticmap?style=klokantech-basic&width=600&height=300&center=lonlat:{{longitude}},{{latitude}}&zoom=15&marker=lonlat:{{longitude}},{{latitude}};type:material;color:red;icon:utensils;icontype:awesome&apiKey={{mapimageapikey}}"
                                        alt="MAP for {{name}}"></a><br/><br/>
            </p>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
<!-- end .content -->
{% include 'footer.html' %}
</div>
<!-- end .container -->
<script>
  $(document).ready(function(){
    // Check Radio-box
    $(".rating input:radio").attr("checked", false);

    $('.rating input').click(function () {
    $(".rating span").removeClass('checked');
    $(this).parent().addClass('checked');
    });

    $('input:radio').change(
    function(){
    var userRating = this.value;
    });
    });

</script>
<!-- end .container -->
{% include 'popupScript.js' %}
</body>

</html>