<div id="id05" class="modal">
  <style>
      .column {
        float: left;
        width: 50%;
      }

      .row:after {
          content: "";
          display: table;
          clear: both;
      }
  </style>
  <form id="editGroupFORM" class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/images/Logo.png" alt="Avatar" class="avatar">
    </div>
    <div class="container1">
       <div class="row">
           <div class="column">
               <label for="group"><b>Friends in group</b></label>
               <ul id="currentGroup">

               </ul>
           </div>
           <div class="column">
               <label><b>Friends not in group</b></label>
               <ul id="outsideGroup">

               </ul>
           </div>
       </div>
   </div>

    <div class="container1" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id05').style.display='none';document.getElementById('editGroupFORM').reset();" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>