<div id="id05" class="modal">
  <form id="editGroupFORM" class="modal-content animate">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/images/Logo.png" alt="Avatar" class="avatar">
    </div>
    <div class="container1">
      <label for="group"><b>Add User to Group</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required>
      </label>
   </div>

    <div class="container1" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id05').style.display='none';document.getElementById('editGroupFORM').reset();" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>