<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel='stylesheet' href="{{ url_for('static', filename = 'style.css')}}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Decide &amp; Dine</title>
</head>

<body>
    <div id="container">
        {% include 'header.html' with context %}
        <div class="content">
            <p>&nbsp;</p>
            <div class="detail">
                <div class="floating-box" style="margin: 10px auto;min-height:auto;">
                    <h1>Help/FAQ</h1>
                        <ol style="color: white;">
                        <li>How do I use this site?<br />
                            Answer: There is a How it Works page on the homepage and sidebar.</li><br />
                        <li>I filled out a servey but no restaurant showed up when I searched.<br />
                            Answer: This can be caused by a few things. To fix this try adjusting the range of the search and adding more restaurant types.</li><br />
                        <li>Do I need an account to use this site?<br />
                            Answer: No you can click the get started button on the homepage when you're not logged in and fill out the Dining Preferences to search.</li><br />
                        <li>How do I add my friends? <br />
                            Answer: Go to the Connect page and select the search for friends tab and type in the email for the person you would like to friend.</li><br />
                        <li>How do I create a Group?<br />
                            Answer: Go to the Connect page and select the Groups Page type in a group name and click the plus icon.</li><br />
                        <li>I think I bug how do I let the developers know? <br />
                            Answer: On the contact us page there is information to get in contact with us.</li><br />
                        <li>What are the terms and policies for this website?<br />
                            Answer: When you go to create an account you can click the Terms & Privacy link.</li><br />
                        <li>I forgot my password what do I do?<br />
                            Answer: Go to the login page and type in your email and select forgot password.</li><br />
                    </ol>
                </div>
            </div>
        </div>
        <!-- end .content -->
        {% include 'footer.html' %}
    </div>

</body>

</html>
