<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel = 'stylesheet' href = "{{ url_for('static', filename = 'style.css')}}?version=5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Decide &amp; Dine</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert-error {
  padding: 8px;
  background-color: red;
  color: white;
}
</style>
</head>

<body>
<!-- Modal for Login-->
{% include 'loginModal.html' %}
<!-- Modal for Registration-->
{% include 'registrationModal.html' %}

<div id="container">
  {% include 'header.html' with context %}
  <div class="content">
    <p><img src="static/images/phrase_homepage.png" alt="Phrase" class="phrase" /></p>
    <p align="center"><img src="static/images/Logo.png" alt="Decide &amp; Dine Logo" class="logo" /></p>
    <p>&nbsp;</p>
    <div id="Buttons">
      {% if 'username' in session %}
      <div id="preferences">
        <p><a href="{{url_for('survey')}}"><img src="/static/images/Preferences.png" alt="Preferences" /></a></p>
      </div>
      <div id="search">
        <p><a href="{{url_for('search')}}"><img src="/static/images/Search.png" alt="Search" /></a></p>
      </div>
      <div id="connect">
        <p><a href="{{url_for('connect')}}"><img src="/static/images/Connect.png" alt="Connect" /></a></p>
      </div>
      {% else %}
      <div id="how_works">
        <p><a href="{{url_for('howitworks')}}"><img src="static/images/How it works.png" alt="How It Works" /></a></p>
      </div>
      <div id="features">
        <p><img src="static/images/features.png" alt="Features" /></p>
      </div>
      <div id="get_started">
        <p><a href="{{url_for('survey')}}"><img src="static/images/get_started.png" alt="Get Started" /></a></p>
      </div>
      {% endif %}
      <p>&nbsp;</p>
    </div>
      <p>&nbsp;</p>
  </div>
  <!-- end .content -->
{% include 'footer.html' %}
</div>
<!-- end .container -->
{% include 'popupScript.js' %}
</body>
</html>
