<div id="id01" class="modal">
  <form class="modal-content animate" action="{{ url_for('login') }}" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/images/Logo.png" alt="Avatar" class="avatar">
    </div>
    <div class="container1">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <div class="error">{{ messsage }}</div>
      <button type="submit">Login</button>
      <button onclick="document.getElementById('id02').style.display='block';document.getElementById('id01').style.display='none';">Not A Member? Register Here</button>
        {% for message in get_flashed_messages() %}
              <div class="alert-error">
                Error: {{ message }}</div>
          {% if 'match' not in message %}
                <script type = "text/javascript">document.getElementById('id02').style.display='block'; document.getElementById('id01').style.display='none';</script>
          {% else %}
                <script type = "text/javascript">document.getElementById('id01').style.display='block'; document.getElementById('id02').style.display='none';</script>
          {% endif %}
        {% endfor %}
   </div>

    <div class="container1" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#" style="color:dodgerblue">password?</a></span>
    </div>
  </form>
</div>