<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel = 'stylesheet' type = "text/css" href = '{{ url_for('static', filename = 'style.css')}}?version=2'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Decide &amp; Dine</title>
</head>

<body>
<div id="container">
  {% include 'header.html' with context %}
  <div class="content">
    <p>&nbsp;</p>
    <div class="search">
      <div class="floating-box" style="margin: 20px auto;">
        <h1>Search</h1>
        <form action="{{ url_for('search') }}" method="post" autocomplete="off">
            <div id="filters">
                <label for="Zip" class="question">Search Zip Code:</label>
                <input type="zip" name="zip" placeholder="Enter ZIP Code" id="zip" required value="{{userZipcode}}">

                <label for="Radius" class="question">Search Radius:</label>
                <input type="radius" name="radius" placeholder="Enter Radius" id="radius" required value="{{userDistance}}">

               <label class="question">Restaurant Rating:</label>
                  <select name="rating" id="Food_Rating">
                    <option value="2"{% if userRating == 2 %}selected{% endif %}>2 stars or less</option>
                    <option value="3"{% if userRating == 3 %}selected{% endif %}>3 Stars or less</option>
                    <option value="4"{% if userRating == 4 %}selected{% endif %}>4 Stars or less</option>
                    <option value="5"{% if userRating == 5 %}selected{% endif %}>5 Stars or less</option>
                  </select>

                 <label class="question">Food Cost:</label>
                  <select name="cost" id="Food_Cost">
                    <option value="1"{% if userRange == 1 %}selected{% endif %}>$</option>
                    <option value="2"{% if userRange == 2 %}selected{% endif %}>$$</option>
                    <option value="3"{% if userRange == 3 %}selected{% endif %}>$$$</option>
                    <option value="4"{% if userRange == 4 %}selected{% endif %}>$$$$</option>
                    <option value="5"{% if userRange == 5 %}selected{% endif %}>$$$$$</option>
                  </select>
            </div><br />

            {% if 'OK' not in msg %}<div class="msg">{{ msg }}</div> <!--for testing-->{%endif%}
            <input type="submit" value="Submit" style="margin:5px 0;">
            <p>&nbsp;</p>
                <ul>
                {% for i in data %}
                    <div style="background-color: #ffffff; padding: 5px; max-width:50%; min-width:700px; min-height: 110px; border-style: solid;border-radius:10px;border-color:#f67b5f;">
                        <div id="rest-thumb-img" style="max-height:110px; margin: 5px 10px; float: right;"><img src="{{ i[6] }}" height="100"></div>
                        <div id="rest-lineitem" style="max-height:110px; margin: 5px 10px; position: inherit;">
                           <p style="color: Gray;font-size:12px;">
                                <a href="/details/?res_id={{ i[1] }}" style="font-size: x-large; font-weight: bold; color: #f67b5f;">{{ i[0] }}</a><br />
                                <img src="/static/images/{{ i[7] }}star.png" height="13">
                                &nbsp; {{ i[4] }} Rating<br />
                                {{ i[2] }}<br />
                                Call: {{ i[3] }}&nbsp;&nbsp;&nbsp;<a href="{{ i[5] }}" class="menubutton">View Menu</a>
                            </p>
                        </div>
                    </div>
    <!--            <p style="border: 3px solid white"><a href="{{ i[1] }}">{{ i[0] }}</a> - {{ i[2] }}</p>-->
                {% endfor %}
                </ul>
         </form>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
  <!-- end .content -->
{% include 'footer.html' %}
</div>
<!-- end .container -->
</body>
</html>
