<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link rel = 'stylesheet' type = "text/css" href = '{{ url_for('static', filename = 'style.css')}}?version=2'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Decide &amp; Dine</title>
</head>

<body>
<div id="container">
  <div class="header">
    <div id="nav_link"><a href="/"><img src="/static/images/nav_lines.png" width="42" height="28" alt="navmenu_lines" /></a></div>
    <div id="header_logo"><a href="/"><img src="/static/images/header_logo.png" alt="Decide &amp; Dine Logo" height="30" /></a></div>
    <div id="login_link"><a href="/login"><img src="/static/images/login_hdr.png" alt="Login" height="20" style="padding: 5px 20px 5px 5px" /></a></div>
  </div>
  <!-- end .header -->
  <div class="content">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="search">
      <div class="floating-box" style="margin: 20px auto;">
        <h1>Search</h1>
        <div class="links">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('registration') }}" class="active">Registration</a>
        </div>
        <form action="{{ url_for('search') }}" method="post" autocomplete="off">
            <label for="ZIP">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="zip" name="zip" placeholder="ZIP Code" id="zip" required>
            <label for="Radius">
                <i class="fas fa-lock"></i>
            </label>
            <input type="radius" name="radius" placeholder="Radius" id="radius" required>
           <div id="filters"><label class="question">Filters:&nbsp;</label>
          
              <select name="rating" id="Food_Rating">
                <option value="2">2 stars or less</option>
                <option value="3">3 Stars or less</option>
                <option value="4">4 Stars or less</option>
                <option value="5" selected>5 Stars or less</option>
              </select>
          
              <select name="cost" id="Food_Cost">
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3" selected>$$$</option>
                <option value="4">$$$$</option>
                <option value="5">$$$$$</option>
              </select>
          
            </div>
            <div class="msg">{{ "Response Status: " + msg }}</div>
            <ul>
            {% for i in data %}
            <p style="border: 3px solid white"><a href="{{ i[1] }}">{{ i[0] }}</a> - {{ i[2] }}</p>
            {% endfor %}
            </ul>
            <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <p>&nbsp;</p>
  </div>
  <!-- end .content -->
  
  <div class="footer"> <img src="/static/images/icon_facebook.png" alt="facebook" style="margin-left: 10px" /> <img src="/static/images/icon_google+.png" alt="google plus" /> <img src="/static/images/icon_instagram.png" alt="instagram" /> <img src="/static/images/icon_twitter.png" alt="twitter" /> </div>
  <!-- end .footer --> 
</div>
<!-- end .container -->
</body>
</html>
