<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Decide &amp; Dine</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
 
    
</head>
<style>


     .floating-box {
        position: relative; 
        top: 0; left: 0; bottom: 0; right: 0;
        margin: auto;
        width: 1100px;
        height: 900px; 
        background-color: rgb(246, 123, 95); 
     
    }

    .text {
         margin-left: 140px;
        color: rgb(255, 255, 255); 
        font-size: 350%;
       
    }

    .form-check-inline {
        display: inline-flex;
        align-items: center;
        padding-left: 0; 
        margin: 30px;
        
    }

    .q1 {
        color:white;
        margin: 30px;
        font-size: 250%;

    }

    .radio {
        color:white;
        font-size: 120%;

    }

    a {
        text-decoration: none;
        padding: 8px 16px;
        align-items: center;
    }

    a:hover {
        color: black;
    }
    .next {
        font-size: 200%;
        color: white;
        margin-left: 480px;

        }
</style>
<body>
    <div id="container">
        <div class="header">
            <div id="nav_link"><a href="#"><img src="images/nav_lines.png" width="42" height="28" alt="navmenu_lines" /></a></div>
            <div id="header_logo"><a href="#"><img src="images/header_logo.png" alt="Decide &amp; Dine Logo" height="30" /></a></div>
            <div id="login_link"><a href="#"><img src="images/login_hdr.png" alt="Login" height="20" style="padding: 5px 20px 5px 5px" /></a></div></div>
        
        <!-- end .header -->
        <div class="content">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <!-- end .content -->

        <div class="footer">
            <img src="images/icon_facebook.png" alt="facebook" style="margin-left: 10px" />
            <img src="images/icon_google+.png" alt="google plus" />
            <img src="images/icon_instagram.png" alt="instagram" />
            <img src="images/icon_twitter.png" alt="twitter" /> </div>
        <!-- end .footer -->

    </div>

    <div class="floating-box">

        <div><bt class="text">What are you feeling today??</bt></div>

        <div>
            <bt class="q1">1. How many miles would you like to travel</bt></div>
        <div> 
            <div class="custom-control custom-radio form-check-inline">
                <input class="custom-control-input" type="radio" id="inlineRadio1" name="distance" >
                <label class="custom-control-label" for="inlineRadio1"><bt class="radio">Less than 5 mi.</bt></label>
            </div>
            <div class="form-check custom-radio form-check-inline">
                <input class="custom-control-input" type="radio" id="inlineRadio2" name="distance">
                <label class="custom-control-label" for="inlineRadio2"><bt class="radio">Less than 10 mi.</bt></label>
            </div>
            <div class="form-check custom-radio form-check-inline">
                <input class="custom-control-input" type="radio" id="inlineRadio3" name="distance">
                <label class="custom-control-label" for="inlineRadio3"><bt class="radio">Less than 25 mi.</bt></label>
            </div>
            <div class="form-check form-check-inline">
                <input class="custom-control-input" type="radio" id="inlineRadio4" name="distance" checked>
                <label class="custom-control-label" for="inlineRadio4"><bt class="radio">Less than 50 mi.</bt></label>
            </div>
        </div>

        <div>
            <bt class="q1">2. What type of restaurant would you like to eat at?</bt></div>
            <!-- Default unchecked -->
            <div class="custom-control custom-radio form-check-inline">
                <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios" checked>
                <label class="custom-control-label" for="defaultUnchecked"><bt class="radio">Fast Food</bt></label>
            </div>
            
            <!-- Default checked -->
            <div class="custom-control custom-radio form-check-inline">
                <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios">
                <label class="custom-control-label" for="defaultChecked"><bt class="radio">Dine In</bt></label>
            </div>
       

            
        <div><bt class="q1">3. What kind of food do you want?</bt></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="american" value="american">
                <label class="form-check-label" for="american">
                    <bt class="radio">American</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="chinese" value="chinese">
                <label class="form-check-label" for="chinese">
                    <bt class="radio">Chinese</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="italian" value="italian">
                <label class="form-check-label" for="italian">
                    <bt class="radio">Italian</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="mexican" value="mexican">
                <label class="form-check-label" for="mexican">
                    <bt class="radio">Mexican</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="japanese" value="japanese">
                <label class="form-check-label" for="japanese">
                    <bt class="radio">Japanese</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="korean" value="korean">
                <label class="form-check-label" for="korean">
                    <bt class="radio">Korean</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="greek" value="greek">
                <label class="form-check-label" for="greek">
                    <bt class="radio">Greek</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="vietnamese" value="vietnamese">
                <label class="form-check-label" for="vietnamese">
                    <bt class="radio">Vietnamese</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="thai" value="thai">
                <label class="form-check-label" for="thai">
                    <bt class="radio">Thai</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="cuban" value="cuban">
                <label class="form-check-label" for="cuban">
                    <bt class="radio">Cuban</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="indian" value="indian">
                <label class="form-check-label" for="indian">
                    <bt class="radio">Indian</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="other" value="other">
                <label class="form-check-label" for="other">
                    <bt class="radio" >Other</bt>
                </label>
            </div>
        
            <div><bt class="q1">4. Do you have any allergies or diet restrictions?</bt></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="peanut" value="peanut">
                <label class="form-check-label" for="peanut">
                    <bt class="radio">Peanut </bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="diabetic" value="diabetic">
                <label class="form-check-label" for="diabetic">
                    <bt class="radio">Diabetic</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="vegan" value="vegan">
                <label class="form-check-label" for="vegan">
                    <bt class="radio" >Vegan</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="gluten free" value="gluten free">
                <label class="form-check-label" for="gluten free">
                    <bt class="radio" >Gluten Free</bt>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="lactose" value="lactose">
                <label class="form-check-label" for="lactose">
                    <bt class="radio">lactose intolerance</bt>
                </label>
            </div>
            
            <div>
                <a href="#" class="next">Next</a>
        </div>
               
               
                </div>

        </div>    
    </div>
    <div>
</div>
<!-- end .container -->
</body>

</html>
