<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Decide &amp; Dine</title>
<link rel = 'stylesheet' href = '{{ url_for('static', filename = 'style.css')}}?version=4' />
</head>

<body>
<div id="container">
  <div class="header">
    <div id="nav_link"><a href="#"><img src="/static/images/nav_lines.png" width="42" height="28" alt="navmenu_lines" /></a></div>
    <div id="header_logo"><a href="{{url_for('home')}}"><img src="/static/images/header_logo.png" alt="Decide &amp; Dine Logo" height="30" /></a></div>
    {% if 'username' in session %}
    <div id="logout_link"><img src="/static/images/icon_useraccount.png" alt="profile-icon" style="margin-right:10px" valign="top"><a href="{{url_for('logout')}}"><strong>{{username}}</strong></a></div>
    {% else %}
    <div id="login_link"><a href="{{url_for('login')}}"><img src="static/images/login_hdr.png" alt="Login" height="20" style="padding: 5px 20px 5px 5px" /></a></div>
    {% endif %}
  </div>
  <!-- end .header -->
  <div class="content">
    <form action="{{url_for('survey')}}" method="post" enctype="multipart/form-data" name="survey">
      <div class="floating-box"> <strong class="question">Please Help Us Set Your Dining Preferences</strong>
        <hr />
        <div>
          <label class="question"> 1. Please enter your Zip Code: </label>
          <input type="text" name = "zip" pattern="[0-9]{5}" title="Five digit zip code" />
        </div>
        <hr />
        <div>
          <label class="question">2. Select your default distance for dining search?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Within: </label> 
          <select name="radius" id="Distance_Group_1">
            <option value="8046"> 5 Miles</option>
            <option value="16093">10 Miles</option>
            <option value="24140">15 Miles</option>
            <option value="32186">20 Miles</option>
            <option value="40233">25 Miles</option>
            <option value="56327">35 Miles</option>
          </select>
        </div>
        <hr />
        <div>
          <label class="question">3. Select your preferred Establishment Types:</label>
          <table width="90%" style="margin: 0 30px; font-family:Verdana, Geneva, sans-serif; font-size:small; font-weight:bold; color:#ffffff;">
            <tr>
              <td width="70"><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="1" id="EstCheckboxGroup_0" />
                  Café</label></td>
              <td width="87"><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="5" id="EstCheckboxGroup_1" />
                  Lounge</label></td>
              <td width="63"><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="6" id="EstCheckboxGroup_2" />
                  Pub</label></td>
              <td width="55"><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="7" id="EstCheckboxGroup_3" />
                  Bar</label></td>
              <td width="100"><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="8" id="EstCheckboxGroup_4" />
                  Club</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="16" id="EstCheckboxGroup_5" />
                  Casual Dining</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="18" id="EstCheckboxGroup_6" />
                  Fine Dining</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="20" id="EstCheckboxGroup_7" />
                  Food Court</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="21" id="EstCheckboxGroup_8" />
                  Quick Bites</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="23" id="EstCheckboxGroup_9" />
                  Dessert Parlour</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="24" id="EstCheckboxGroup_10" />
                  Deli</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="31" id="EstCheckboxGroup_11" />
                  Bakery</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="41" id="EstCheckboxGroup_12" />
                  Beverage Shop</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="81" id="EstCheckboxGroup_13" />
                  Food Truck</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="91" id="EstCheckboxGroup_14" />
                  Bistro</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="101" id="EstCheckboxGroup_15" />
                  Diner</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="161" id="EstCheckboxGroup_16" />
                  Microbrewery</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="271" id="EstCheckboxGroup_17" />
                  Sandwich Shop</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="272" id="EstCheckboxGroup_18" />
                  Cocktail Bar</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="275" id="EstCheckboxGroup_19" />
                  Pizzeria</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="278" id="EstCheckboxGroup_20" />
                  Wine Bar</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="281" id="EstCheckboxGroup_21" />
                  Fast Food</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="282" id="EstCheckboxGroup_22" />
                  Taqueria</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="283" id="EstCheckboxGroup_23" />
                  Brewery</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="284" id="EstCheckboxGroup_24" />
                  Juice Bar</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="285" id="EstCheckboxGroup_25" />
                  Fast Casual</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="286" id="EstCheckboxGroup_26" />
                  Coffee Shop</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="290" id="EstCheckboxGroup_27" />
                  Vineyard</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="291" id="EstCheckboxGroup_28" />
                  Sweet Shop</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="292" id="EstCheckboxGroup_29" />
                  Beer Garden</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="295" id="EstCheckboxGroup_30" />
                  Noodle Shop</label></td>
              <td><label>
                  <input type="checkbox" name="EstCheckboxGroup" value="309" id="EstCheckboxGroup_31" />
                  Steakhouse</label></td>
            </tr>
          </table>
        </div>
        <hr />
        <div>
          <label class="question">4. Select your preferred Cuisines:</label>
          <table width="90%" style="margin: 0 30px; font-family:Verdana, Geneva, sans-serif; font-size:small; font-weight:bold; color:#ffffff;">
            <tr>
              <td width="90"><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="1" id="CuisCheckboxGroup_0" />
                  American</label></td>
              <td width="87"><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="3" id="CuisCheckboxGroup_1" />
                  Asian</label></td>
              <td width="90"><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="5" id="CuisCheckboxGroup_2" />
                  Bakery</label></td>
              <td width="70"><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="25" id="CuisCheckboxGroup_3" />
                  Chinese</label></td>
              <td width="70"><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="30" id="CuisCheckboxGroup_4" />
                  Cafe</label></td>
              <td width="70"><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="38" id="CuisCheckboxGroup_5" />
                  European</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="40" id="CuisCheckboxGroup_6" />
                  Fast Food</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="45" id="CuisCheckboxGroup_7" />
                  French</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="55" id="CuisCheckboxGroup_8" />
                  Italian</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="60" id="CuisCheckboxGroup_9" />
                  Japanese</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="67" id="CuisCheckboxGroup_10" />
                  Korean</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="70" id="CuisCheckboxGroup_11" />
                  Mediterranean</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="73" id="CuisCheckboxGroup_12" />
                  Mexican</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="82" id="CuisCheckboxGroup_13" />
                  Pizza</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="83" id="CuisCheckboxGroup_14" />
                  Seafood</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="89" id="CuisCheckboxGroup_15" />
                  Spanish</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="95" id="CuisCheckboxGroup_16" />
                  Thai</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="99" id="CuisCheckboxGroup_17" />
                  Vietnamese</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="100" id="CuisCheckboxGroup_18" />
                  Desserts</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="121" id="CuisCheckboxGroup_19" />
                  Cantonese</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="134" id="CuisCheckboxGroup_20" />
                  German</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="135" id="CuisCheckboxGroup_21" />
                  Irish</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="141" id="CuisCheckboxGroup_22" />
                  Steak</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="143" id="CuisCheckboxGroup_23" />
                  Healthy Food</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="148" id="CuisCheckboxGroup_24" />
                  Indian</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="150" id="CuisCheckboxGroup_25" />
                  Tex-Mex</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="152" id="CuisCheckboxGroup_26" />
                  African</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="153" id="CuisCheckboxGroup_27" />
                  Cuban</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="156" id="CuisCheckboxGroup_28" />
                  Greek</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="161" id="CuisCheckboxGroup_29" />
                  Coffee and Tea</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="168" id="CuisCheckboxGroup_30" />
                  Burger</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="177" id="CuisCheckboxGroup_31" />
                  Sushi</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="491" id="CuisCheckboxGroup_32" />
                  Cajun</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="501" id="CuisCheckboxGroup_33" />
                  Frozen Yogurt</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="541" id="CuisCheckboxGroup_34" />
                  Diner</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="181" id="CuisCheckboxGroup_35" />
                  Grill</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="182" id="CuisCheckboxGroup_36" />
                  Breakfast</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="192" id="CuisCheckboxGroup_37" />
                  Deli</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="193" id="CuisCheckboxGroup_38" />
                  BBQ</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="207" id="CuisCheckboxGroup_39" />
                  Jamaican</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="219" id="CuisCheckboxGroup_40" />
                  Polish</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="227" id="CuisCheckboxGroup_41" />
                  Bar Food</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup_" value="233" id="CuisCheckboxGroup_42" />
                  Ice Creams</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="265" id="CuisCheckboxGroup_43" />
                  Jewish</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="298" id="CuisCheckboxGroup_44" />
                  Fish and Chips</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="304" id="CuisCheckboxGroup_45" />
                  Sandwich</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="308" id="CuisCheckboxGroup_46" />
                  Vegetarian</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="318" id="CuisCheckboxGroup_47" />
                  Fondue</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="361" id="CuisCheckboxGroup_48" />
                  Puerto Rican</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="461" id="CuisCheckboxGroup_49" />
                  Soul Food</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="921" id="CuisCheckboxGroup_50" />
                  Southern American</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="955" id="CuisCheckboxGroup_51" />
                  Bagels</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="959" id="CuisCheckboxGroup_52" />
                  Donuts</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="966" id="CuisCheckboxGroup_53" />
                  Southwestern</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="971" id="CuisCheckboxGroup_54" />
                  Chili</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="983" id="CuisCheckboxGroup_55" />
                  Pub Food</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="997" id="CuisCheckboxGroup_56" />
                  Taco</label></td>
              <td><label>
                  <input type="checkbox" name="CuisCheckboxGroup" value="998" id="CuisCheckboxGroup_57" />
                  Salad</label></td>
            </tr>
          </table>
        </div>
        <hr />
        <div>
          <label class="question">5. Select your preferred dining Categories:</label>
          <table width="90%" style="margin: 0 30px; font-family:Verdana, Geneva, sans-serif; font-size:small; font-weight:bold; color:#ffffff;">
            <tr>
              <td width="90"><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="1" id="CatCheckboxGroup_0" />
                  Delivery</label></td>
              <td width="60"><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="2" id="CatCheckboxGroup_1" />
                  Dine-out</label></td>
              <td width="60"><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="3" id="CatCheckboxGroup_2" />
                  Nightlife</label></td>
              <td width="80"><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="4" id="CatCheckboxGroup_3" />
                  Catching-up</label></td>
              <td width="70"><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="5" id="CatCheckboxGroup_4" />
                  Takeaway</label></td>
              <td width="100"><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="6" id="CatCheckboxGroup_5" />
                  Cafes</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="7" id="CatCheckboxGroup_6" />
                  Daily Menus</label></td>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="8" id="CatCheckboxGroup_7" />
                  Breakfast</label></td>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="9" id="CatCheckboxGroup_8" />
                  Lunch</label></td>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="10" id="CatCheckboxGroup_9" />
                  Dinner</label></td>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="11" id="CatCheckboxGroup_10" />
                  Pubs and Bars</label></td>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="13" id="CatCheckboxGroup_11" />
                  Pocket Friendly Delivery</label></td>
            </tr>
            <tr>
              <td><label>
                  <input type="checkbox" name="CatCheckboxGroup" value="14" id="CatCheckboxGroup_12" />
                  Clubs and Lounges</label></td>
            </tr>
          </table>
        </div>
        <div><label class="question">6. Select your preferred rating:&nbsp;</label>

                        <select name="rating" id="Food_Rating">
                            <option value="2">2 stars or less</option>
                            <option value="3">3 Stars or less</option>
                            <option value="4">4 Stars or less</option>
                            <option value="5" selected>5 Stars or less</option>
                        </select>
                    <br>
                    <label class="question">7. Select your preferred cost for
                        food:&nbsp;</label>
          
                        <select name="cost" id="Food_Cost">
                            <option value="1">$</option>
                            <option value="2">$$</option>
                            <option value="3" selected>$$$</option>
                            <option value="4">$$$$</option>
                            <option value="5">$$$$$</option>
                        </select>
                    </div>
        
        <div class="question">
          <input name="submit" type="submit" value="Submit" /><br /><br /><br />
        </div>
      </div>
    </form>
  </div>
  <!-- end .content -->
  
  <div class="footer"> <img src="/static/images/icon_facebook.png" alt="facebook" style="margin-left: 10px" /> <img src="/static/images/icon_google+.png" alt="google plus" /> <img src="/static/images/icon_instagram.png" alt="instagram" /> <img src="/static/images/icon_twitter.png" alt="twitter" /> </div>
  <!-- end .footer --> 
</div>
<!-- end .container -->
</body>
</html>
