<div id="id04" class="modal">
  <form id="viewCommentsFORM" class="modal-content animate">
    <div class="container1">
      <h2 style="color:black;">Comments for {{name}}</h2>
      <hr>
        {% for i in commentsList %}
          <div class="containerComments">
<!--            <img src="/static/images/profiles/{{session['id']}}.jpg" alt="Member Profile Image" style="width:90px">-->
            <p style="color:black"><span>{{ i[0] }}</span><br/>
            <img src="/static/images/{{ i[2] }}star.png" height="17">
                                &nbsp; {{ i[2] }} Rating<br /></p>
              <p style="color:black">{{ i[1] }}</p>
              <p style="color:gray">Posted By: {{ i[4] }} {{ i[5] }}.<br/>
                  Date Posted: {{ i[3] }}</p>
          </div>
        {% endfor %}
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id04').style.display='none';document.getElementById('viewCommentsFORM').reset();" class="cancelbtn">Close</button>
      </div>
    </div>
  </form>
</div>